.header-products_services{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.header-products_services a button {
	padding: 15px 10px;
	border: none;
	border-radius: 15px;
	background-color: rgb(71, 153, 71);
	font-size: 15px;
	color: var(--font-menu-color);
	cursor: pointer;
}

.header-products_services button:hover {
	background-color: rgb(77, 206, 77);
}