.header-repairs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.header-repairs a button {
  padding: 15px 10px;
  border: none;
  border-radius: 15px;
  background-color: rgb(71, 153, 71);
  font-size: 15px;
  color: var(--font-menu-color);
  cursor: pointer;
}

.header-repairs button:hover {
  background-color: rgb(77, 206, 77);
}

.new_repair {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.new_repair form {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.507);
  padding: 1.5rem;
  border-radius: 15px;
}

.new_repair form select {
  height: 30px;
}

#submit-repair-button {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  padding: 1rem 3rem;
}

.complete-content {
  width: 100%;
  display: flex;
}

.information-panel {
  width: 50%;
  padding: 2rem;
}

.information-panel input {
  width: 70%;
  height: 30px;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem .5rem;
}

.products-panel {
  width: 50%;
}

.products-panel table {
  width: 100%;
  background-color: rgba(173, 173, 173, 0.562);
}

.products-panel table thead {
  width: 100%;
  background-color: var(--secondary-color);
}

.products-panel table tbody {
  color: #000;
}

.products-form {
  display: flex;
  height: 15vh;
  background-color: #fff;
  overflow: hidden;
  padding: 1rem;
}

.products-form #product_search {
  width: 70%;
}

.products-form #quantity {
  width: 30%;
}

#product-list{
  border-style: none;
}

#product-list th {
  padding: .5rem 1rem;
  text-align: left;
  text-transform: uppercase;
}

#product-list td {
  padding: .5rem 1rem;
  text-align: left;
  vertical-align: middle;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}