.themes-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
}

.theme-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.theme-card{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 5px #000;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
}

.theme-card:nth-of-type(1){
    background: linear-gradient(to bottom, rgb(18, 18, 197) 20%, #fff 80%);
}

.theme-card:nth-of-type(2){
    background: linear-gradient(to bottom, #000 20%, #062f4f 80%);
    color: #fff;
}

.theme-card:hover{
    transform: scale(1.05);
    transition: all 0.4s ease-in-out;
}